<h2 class="center-align">Connexion</h2>

<div class="row">
    <div class="col col-xs-12 col-sm-6 col-md-5">
        <div class="card-panel">
            <h5 class="center-align">Connexion via un compte <%= AppName %></h5>

            <form action="/auth/process/login" method="post">
                <div class="row">
                    <div class="input-field col-xs-12 col-md-6">
                        <input id="email" type="email" class="validate" name="mail">
                        <label for="email">Adresse e-mail</label>
                    </div>
                    <div class="input-field col-xs-12 col-md-6">
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Mot de passe</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-align">
                        <button class="btn blue waves-effect waves-light" type="submit" name="action">Se connecter
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="divider"></div>

            <h5 class="center-align">Connexion via un réseau social</h5>

            <div class="row" style="margin-bottom: 0">
                <div class="col-lg-12 center-align">
                    <a href="http://mindmap.finch4.xyz/auth/google" class="btn btn-social btn-social-googleplus waves-effect waves-light">
                        <i class="flaticon-google116 left"></i>&nbsp;Google+</a>
                    <a href="http://mindmap.finch4.xyz/auth/twitter" class="btn btn-social btn-social-twitter waves-effect waves-light">
                        <i class="flaticon-twitter20 left"></i>&nbsp;Twitter</a>
                    <a href="http://mindmap.finch4.xyz/auth/facebook" class="btn btn-social btn-social-facebook waves-effect waves-light">
                        <i class="flaticon-facebook31 left"></i>&nbsp;Facebook</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-7">
        <div class="card card-auth-illustration">
            <span class="card-title">Une carte mentale sans réfléchir</span>
        </div>
    </div>
</div>
