$socials : (
          /* bg, fg */
  github: (#f5f5f5, #333),
  googleplus: (#db4437, #fff),
  twitter: (#55acee, #fff),
  dropbox: (#fff, #3398ea),
  facebook: (#3a5795, #fff)

);

.button-social {
  @extend .mdl-button, .mdl-button--raised;

  margin: 5px 5px 10px;
}

@each $social, $key in $socials {
  $bg: nth($key, 1);
  $fg: nth($key, 2);

  .button-social-#{$social} {
    background: $bg;
    color: $fg;

    &:hover {
      background: darken($bg, 5%);
    }
  }
}
