<!DOCTYPE html>
<html>
<head>
    <title>MindMap | PTUT </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8"/>

    <link
            href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
            rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!--STYLES-->
    <!--STYLES END-->


    <!--SCRIPTS-->
    <!--SCRIPTS END-->

</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div id="header-row" class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a class="link-no-style text-color-white" href="/">MindMap Home</a></span>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">

                <% if(req.session.user != null) { %>
                <a class="mdl-navigation__link" href="/auth/process/logout">Logout</a>
                <% } %>

            </nav>
        </div>

    </header>

    <!-- NOTIFICATIONS -->

    <% if(typeof error_msg != 'undefined') { %>
    <p class="error"><i class="material-icons md-48">error</i><br/>
        <%= error_msg %>
    </p>
    <hr>

    <% } else if(typeof success_msg != 'undefined') { %>
    <p class="success"><i class="material-icons">done</i><br/>
        <%= success_msg %>
    </p>
    <hr>
    <% } %>

    <main class="mdl-layout__content">

        <%- body %>

        <!--TEMPLATES-->
        <!--TEMPLATES END-->

    </main>
</div>
</body>
</html>
