<h1>Login</h1>
<form action="/auth/process/login" method="post">

    <label for="mail">Your email address?</label>
    <input name="mail" type="text"/>
    <br/>

    <label for="password">Your safe word?</label>
    <input name="password" type="password"/>
    <br/>

    <input type="submit"/>
</form>