<!----------- LOGIN FORM ----------->

<div id="connection">
    <form action="/auth/process/login" method="post">

        <h3 id="form-title" class="mdl-color-text--accent">LOGIN</h3>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="mail" name="mail" type="email" required/>
            <label class="mdl-textfield__label" for="mail">Mail address</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" name="password" required/>
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>

        <%
        if(typeof error != 'undefined'){
            console.log(error);%>
            <span class="mdl-textfield__error"><%= error %></span>
        <% } %>

        <button id="valider" type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            GO
        </button>

    </form>
</div>