<h2>Inscription</h2>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col panel-fill">

        <div class="panel panel-auth-illustration panel-expand-header">
            <header class="panel__header">
                <h3>Explorer les cartes que vous aimez.</h3>
            </header>
        </div>

    </div>
    <div class="mdl-cell mdl-cell--6-col">

        <div class="panel panel-auth">
            <header class="panel__header">
                <h4>Inscription</h4>
            </header>
            <section class="panel__content">
                <form action="/auth/process/signup" method="post">

                    <div class="mdl-grid">

                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" name="name" type="text" id="input-lastname">
                                <label class="mdl-textfield__label" for="input-lastname">Nom</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" name="firstname" type="text" id="input-firstname">
                                <label class="mdl-textfield__label" for="input-firstname">Prénom</label>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" name="mail" type="email" id="input-email">
                                <label class="mdl-textfield__label" for="input-email">Adresse e-mail</label>
                                <span class="mdl-textfield__error">L'adresse e-mail n'est pas valide</span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" name="password" type="password" id="input-password">
                                <label class="mdl-textfield__label" for="input-password">Mot de passe</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" name="paswwordConfirmation" type="password" id="input-password-confirmation">
                                <label class="mdl-textfield__label" for="input-password-confirmation">Mot de passe (confirm.)</label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            S'inscrire
                        </button>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>