<!----------- SIGNUP FORM ----------->

<div id="signup">
    <form action="/auth/process/signup" method="post">

        <h3 id="form-title" class="mdl-color-text--accent">SIGN UP</h3>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="firstname" name="firstname"/>
            <label class="mdl-textfield__label" for="firstname">First name</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="name" name="name"/>
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="mail" name="mail"/>
            <label class="mdl-textfield__label" for="mail">Mail address</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" name="password"/>
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="passwordConfirmation" name="passwordConfirmation"/>
            <label class="mdl-textfield__label" for="passwordConfirmation">Password confirmation</label>
        </div>

        <% if(typeof error_msg != 'undefined') { %>
        <span class="mdl-textfield__error"><%- error_msg %></span>
        <% } %>

        <button id="valider" type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            GO
        </button>

    </form>
</div>