<div class="panel">
    <header class="panel__header">
        <h1>Page d'accueil</h1>
    </header>
    <a href="/mm/1"> MindMap 1 !!</a>
    <section class="panel__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam consequuntur, dolorem inventore
            minus necessitatibus nihil odio officiis porro quos sunt tenetur totam. Dignissimos dolore doloremque
            ducimus ipsum possimus quos ratione saepe. Asperiores facere inventore ipsam, itaque laudantium magnam
            molestias neque nisi ratione tempora. Alias aperiam aut commodi cupiditate deleniti eos laborum minus
            necessitatibus nostrum, quasi qui repellat repellendus voluptatibus. Aspernatur cumque impedit ipsam
            maiores maxime provident voluptatum? Beatae dignissimos est facilis, hic natus nulla porro quas sint
            voluptatibus. Inventore maiores quaerat quo, reiciendis repudiandae velit? A, soluta, voluptatibus.
            Assumenda, cupiditate dignissimos natus placeat saepe totam vel velit veritatis voluptatibus.</p>
        <p>Animi atque, blanditiis corporis fugit incidunt itaque iusto laboriosam maiores maxime minima molestias
            nostrum odit officiis quam quasi quod saepe soluta suscipit, tempora tempore velit vitae voluptatum?
            Alias architecto debitis dolorem eligendi et eveniet illum in inventore laborum maiores molestiae natus
            neque nesciunt nihil omnis quae quisquam recusandae repellat rerum saepe similique sint sunt suscipit
            velit, vero voluptas voluptates. Cupiditate eius facere, incidunt labore omnis quasi quia quos
            repellendus tempore temporibus totam, ullam voluptatibus. A, cum cupiditate deserunt dolor dolorum et in
            quibusdam? Aliquid aperiam beatae doloribus earum obcaecati quo sunt voluptates. Doloremque excepturi
            facere magnam nobis odio sed vero!</p>
    </section>
</div>