<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
    <form method="POST" action="login/auth">
        <input name="mail" placeholder="Type your email"><br/>
        <input type="password" name="password" placeholder="Type your password"><br/>
        <input type="submit" value="Submit">
    </form>

    <% include include/ga.ejs %>
</body>
</html>