<h1 class="center-align">Page d'accueil</h1>

<form action="/mm/create" method="post">
    <div class="input-field">
        <input type="text" name="name" required id="input-name"/>
        <label for="input-name">Mindmap</label>
    </div>
    <input type="submit" class="btn waves-effect" value="Créer une mindmap !"/>
</form>

<p class="justify-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, beatae fuga illum
    nostrum officia perferendis quia tempore ut veritatis. Accusamus accusantium aspernatur deserunt dignissimos
    dolores ducimus error esse eum impedit modi, numquam, odit officia possimus quidem quos sint sunt unde. Ad
    asperiores doloribus fugit id impedit quisquam vero voluptas?</p>
<p class="justify-align">At delectus excepturi facere illo incidunt ipsam laborum maiores odio perferendis
    perspiciatis possimus quis quo sequi, sit suscipit voluptate voluptates? Aliquam commodi consequuntur dolore
    ducimus earum enim et, eum, id modi, nostrum odio officiis porro possimus quam repellendus sed velit.
        Consequatur cumque ex facere impedit modi non officiis quidem totam!</p>

