<h1> This is the mindmap number <%= mindmap.id %></h1>

<input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus/>
<button onclick="sendMessage()">Envoyer</button>

<ul>
    <% for(var i = 0; i < messages.length; i++) { %>
    <li><%= messages[i].owner.firstname + ' ' + messages[i].owner.name + ' : ' + messages[i].data %></li>
    <% } %>
</ul>

<script>
    function sendMessage() {
        io.socket.post("/mm/<%= mindmap.id %>/chat/public", {msg: document.getElementById('message').value});
    }

    function addMessage(){
        // TODO Add Message function
    }
    io.socket.on('connect', function socketConnected() {


        // Subscribe to the mindmap room
        io.socket.get("/mm/<%= mindmap.id %>/join");

        io.socket.on('mindmap', function messageReceived(message) {

            switch (message.verb) {

                case 'messaged':
                    alert(message.data.msg);
                    break;
            }

        });
    });
</script>