/**
 * La mindmap !!!
 */
 
#mindmap_wrapper {
    position: fixed;
    top: 0;	
    left: 0;	
    right: 0;	
	
}

#mindmap_wrapper .page-content {
    padding: 0;
}

#mindmap {
  width: 100%;
  height: 800px;

}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate3d(0, 0, 0);

}

path, rect, line {
  transition: filter 0.3s ease-in-out;
}

rect, text {
  cursor:pointer;
}

g:not([id=""]) > circle[name=folder] {
  fill: red;
  transition: fill 0.5s;
}

g:not([id=""]) > circle[name=lx], g:not([id=""]) > circle[name=rx] {
  fill: transparent;
  transition: fill 0.5s;
}

g:not([id=""]):hover > circle[name=lx], g:not([id=""]):hover > circle[name=rx] {
  fill:#64b5f6;
}

#editBox {
display:none;position:fixed;z-index:10;top:80px;right:10px;background:white;width:300px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#editBox h3 {
border-bottom:1px solid #ddd;   font-size: 16px;    font-weight: 500;   margin:0;  text-transform: uppercase;
}

#editBoxForm {
margin:0 10px;
}