html#page-mindmap {
  &, body {
    height: 100%;
  }
}

#page-mindmap body {
  &, & > .section {
    display: flex;
    flex-direction: column;
  }
}

#page-mindmap body > .section {
  & {
    flex: 1;
  }

  & > svg#container {
    flex: 1 1 auto;
  }
}

/**
 * La mindmap !!!
 */
 
.top-attached {
	position:fixed;
	top:0;
}

nav {
	z-index: 10;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate3d(0, 0, 0);

}

path, rect, line {
  transition: filter 0.3s ease-in-out;
}

rect, text {
  cursor: pointer;
}

g:not([id=""]) > circle[name=folder] {
  fill: red;
  transition: fill 0.5s;
}

g:not([id=""]) > circle[name=lx], g:not([id=""]) > circle[name=rx] {
  fill: transparent;
  transition: fill 0.5s;
}

g:not([id=""]):hover > circle[name=lx], g:not([id=""]):hover > circle[name=rx] {
  fill: #64b5f6;
}

#editBox {
  cursor: default;
  display: none;
  z-index: 10;
  background: white;
  width: 300px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom:10px;
}

#editBox h3 {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

#editBox td {
    padding: 5px;
}

.is-checked {
color:#2196f3;
}
#editBoxForm {
  margin: 0 10px;
}

#workers {
  position: fixed;
  left: 0;
  bottom: 10px;
  z-index: 8;
}

#workers div {
  width: 36px;
  height: 36px;
  aborder-top-left-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  float: left;
  background-size: cover;
  margin-left: 10px;
  margin-top: 12px;
  cursor: pointer;
  overflow: hidden;
}

#workers div:first-child {
  margin-top: 0;
  width: 48px;
  height: 48px;
}

#workers div span {
  background: #263238;
  bottom: 40px;
  color: white;
  padding: 2px 5px;
  position: absolute;
  white-space: nowrap;
  display: none;
}

#workers div:hover span {
  display: inline-block;
}

.tooltip {
  background: #263238;
  color: white;
  padding: 2px 5px;
  position: absolute;
  top: -16px;
}

#chatBoxStatut {
  display: none;
}

#chatBoxStatut:checked + #chatBox {

  display: block;
}
#workside {
    bottom: 10px;
    display: flex;
    flex-direction: column;
    left: 10px;
    position: fixed;
    top: 75px;
}
#chatSection {
	flex:1;
}
#chatBox {
  cursor: default;
  font-family: Roboto;
  position: relative;

  background: white;
  z-index: 9;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 300px;
  height:100%;
  display: none;
}

#chatBoxTitle {
  position: absolute;
  left: 0;
  right: 0;
}

.boxTitle {
  text-align: center;
  padding: 5px 5px;
  line-height: 30px;
  height: 40px;
  font-weight: bold;
  color: #fff;
  background-color: #2196f3;
  font-size:17px;
}

.closer {
  position: absolute;
  right: 5px;
  color:white;
  top:8px;
}

#chatBoxScroller {
  position: absolute;
  top: 40px;
  bottom: 39px;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#chatBoxMessages {
  width: 100%;
}

#chatBoxMessages tr {
  border-bottom: 1px solid #ddd;
}

#chatBoxMessages tr:last-child {
  border-bottom: none;
}

#chatBoxMessages td:nth-child(2) {
  width: 250px;
}

#chatBoxMessages td {
	padding: 0 5px;
}

.picture {
  display: inline-block;
  width: 50px;
}

.picture div {
  width: 36px;
  height: 36px;
  margin: 10px 0 0;
  aborder-radius: 18px;
  background-size: cover;
  margin-left: 7px;
}

.author {
  font-weight: bold;
  margin: 8px 0 0;
  color: #222;
}

.time {
  float: right;
  font-weight: normal;
  color: #aaa;
  padding-right: 5px;
}

.message {
  padding-bottom: 8px;
  word-break: break-all;
}

#chatBoxInput {
  height: 35px;
  padding-top: 5px;
  margin: 0 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
}

#chatBoxInputField {
  width: 260px;
  display: inline-block;
}

#chatBoxInputElement {
  height: 24px;
}

#chatBoxInputSend {
  display: inline-block;
  vertical-align: top;
  color: #2196f3 ;
  cursor: pointer;
}

.simpleTextfield {
  border: 0 !important;
  height: 24px !important;
  width: 100% !important;
  border-bottom: 2px solid #ddd !important;
  transition: border 0.3s !important;
  margin: 5px 0 !important;
}

.simpleTextfield:focus {
  border-bottom: 1px solid #2196f3 !important;
  outline:0 !important;
  box-shaddow: 0  !important;
}

#chatBoxStatut:checked + #chatBox + #workers > #chatBoxOpenerContainer > #chatBoxOpener {
  width: 300px;
  opacity: 0;
}

#chatBoxOpener {

  background-color: #2196f3;
  color: #fff;
  text-align: center;
  font-size: 24px;
  overflow: hidden;
}
