<nav class="explorer-navigation">
    <div class="nav-wrapper container">

    </div>
    <div class="actions">

    </div>
</nav>

<div class="explorer-container container">
    <div class="directories">
        <div class="grid explorer">
            <div class="row"></div>
        </div>
    </div>

    <div class="files">
        <div class="grid explorer">
            <div class="row"></div>
        </div>
    </div>
</div>

<script>
    var items = [
        {
            "id": 4,
            "name": "Soutenance Projet",
            "path": "/"
        }, {
            "id": 10,
            "name": "Mindmap #2 par Tellez",
            "path": "/Partagées avec moi",
        }, {
            "id": 3,
            "name": "Mindmap de Benji",
            "path": "/Partagées avec moi/Benji/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Demo",
            "path": "/"
        },  {
            "id": 5,
            "name": "Une autre carte mentale",
            "path": "/Dossier 1"
        }, {
            "path": "Nouveau dossier",
            "special": "empty"
        }
    ];
</script>

<% script('/js/ignore/explorer.js') %>
<% script('/js/ignore/initExplorer.js') %>
