<nav class="explorer-navigation">
    <div class="nav-wrapper container">
        <div class="col"></div>
    </div>
    <div class="actions">

    </div>
</nav>

<div class="explorer-container container">
    <div class="directories">
        <div class="grid explorer">
            <div class="row"></div>
        </div>
    </div>

    <div class="files">
        <div class="grid explorer">
            <div class="row"></div>
        </div>
    </div>
</div>

<script>
    var items = [
        {
            "id": 1,
            "name": "Ma mindmap avec un nom un peu long quand même ahah xd XDDDDDDD",
            "path": "/"
        }, {
            "id": 10,
            "name": "Mindmap #2 par Tellez",
            "path": "/Partagées avec moi",
        }, {
            "id": 3,
            "name": "Mindmap de Benji",
            "path": "/Partagées avec moi/Benji/"
        }, {
            "id": 3,
            "name": "lorem ipsum",
            "path": "/Partagées avec moi/Benji/dossier"
        }, {
            "id": 312,
            "name": "Mindmap de AAAAA",
            "path": "/Partagées avec moi/AAAAA/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 4,
            "name": "Une carte mentale",
            "path": "/"
        }, {
            "id": 5,
            "name": "Une autre carte mentale",
            "path": "/Dossier 1"
        }, {
            "id": 6,
            "name": "Encore une autre carte mentale",
            "path": "/Dossier 2"
        }, {
            "id": 51,
            "name": "Carte mentale dossier 1",
            "path": "/Dossier 1"
        }, {
            "id": 26,
            "name": "Carte mentale dossier 3",
            "path": "/Dossier 3"
        }, {
            "path": "Un dossier vide",
            "special": "empty"
        }
    ];
</script>

<% script('/js/ignore/explorer.js') %>
<% script('/js/ignore/initExplorer.js') %>
