.card-auth-illustration {
  background-image: url('/images/illustration.jpg');
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  


  .card-title {
    font-size: 36px;
  }
}

.card-signup {
  width: 100%
}

.card-panel {
  height:100%;
}
