/*
 * Default ressources
 * @Embraser01
 * Under Creative Commons - 2015
 */

/*===== MISC =====*/

body {
    background-color: #E9E9E9;
    font-family: 'Roboto', sans-serif;
}

.tabulation {
    padding-left: 20px;
}

/*===== MENU =====*/

#header-row {
    padding-left: 30px !important;
}

/*===== FONT STYLE =====*/

.link-no-style {
    text-decoration: none;
}

.text-color-white {
    color: white;
}

.text-color-default {
    color: #757575 !important;
}

.title-bgrnd {
    position: absolute;
    height: 110px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -5;
    background-color: #ff4182;
}

/*===== NOTIFICATIONS =====*/

.error {
    color: #F44336;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.error > i {
    padding: 10px;
    margin: 15px 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.success {
    color: #2ecc71;
    text-align: center;
}

.success > i {
    background: #2ecc71;
    color: #fff;
    padding: 10px;
    margin: 15px 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-size: 2em;
}